/* html {
  width: 100vw;
  height: 100vh;
} */

ul {
  list-style-type: none;
}

h1 {
  letter-spacing: 6px;
}

.speaker:focus,
.speaker:active,
.back:focus,
.back:active {
  box-shadow: none !important;
  outline: 0px !important;
}

img {
  height: 50px;
  margin-left: 1rem;
}

.resultsContainer {
  font-size: 25px;
}

.resultsContainer p {
  font-size: 20px;
}

.first,
.second {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
